<h1>About</h1>
<p>
	<%= link_to "Philip Q Nguyen", "http://philipqnguyen.com" %>
	is an MBA holder and technology start-up expert. To read more about Philip, please go to his
	<%= link_to "site", "http://philipqnguyen.com" %>
	to view his online resume.
</p>

<!--
<div class="row">
  	<div class="span4">
  		<h2>Navigation Bar</h2>
  	</div>
  	<div class="span8">
	  	<h1>About</h1>
		<p>
			<%= link_to "One Month Rails", "http://onemonthrails.com" %>
			is a project to teach
			<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
			in one month. This is the sample application.
		</p>
	</div>
</div>
-->


